.game-info-level {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-right: 7px;
    color: #94a3b7;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  &__items {
    display: flex;
    align-items: center;
    line-height: 1.25;
  }
  &__item {
    padding: 8px;
    margin-right: 4px;
    font-weight: 600;
    border-radius: 4px;

    &:hover {
      background-color: #f1f4f8;
    }
    &:active {
      background-color: #eaeef4;
    }

    &.active {
      color: #0072e3;
    }
  }
}

.game-info-time {
  display: flex;
  align-items: center;
  color: #94a3b7;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.8;
}

.game-info {
  &-wrapper {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
