.numpad {
  font-size: 36px;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, 32%);
  grid-gap: 2%;

  width: 100%;
  height: auto;
  // height: 100%;

  &-item {
    color: #0072e3;
    background-color: #eaeef4;
    text-align: center;
    width: 100%;
    padding: 18% 0;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: #dce3ed;
    }

    &:active {
      background-color: #d2dae7;
    }
  }
}
