.site-header {
  background-color: #eee;
  height: 70px;
  margin-bottom: 10px;
}



.site-content {
  position: relative;
  width: 100%;
}

.main-page .site-content {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .site-content {
    max-width: 100%;
  }
}

@media screen and (min-width: 1070px) {
  .site-content {
    max-width: calc(100% - 320px);
  }
}

@media screen and (min-width: 1070px) {
  .site-content {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1070px) {
}

.site-content-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  display: flex;

  justify-content: center;
}

@media screen and (max-width: 767px) {
  .site-content-wrapper {
    flex-direction: column;
  }
  .site-header {
    display: none;
  }
}
