.site-header {
  background-color: #eee;
  height: 70px;
  margin-bottom: 10px;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 801px) {
  .container {
    max-width: 801px;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1070px) {
  .container {
    max-width: 1070px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-height: 800px) and (min-width: 1070px) {
  .container {
    max-width: 1070px;
  }
}

.site-content {
  position: relative;
  width: 100%;
}

.main-page .site-content {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .site-content {
    max-width: calc(100% - 180px);
    margin-right: 20px;
  }
}

@media screen and (min-width: 1070px) {
  .site-content {
    max-width: calc(100% - 320px);
  }
}

@media screen and (min-width: 1070px) {
  .site-content {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1070px) {
}

.site-content-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  display: flex;

  justify-content: center;
}

@media screen and (max-width: 767px) {
  .site-content-wrapper {
    flex-direction: column;
  }
  .site-header {
    display: none;
  }
}
